#navbar {
    color: #F0F0F0;
    margin:0;
    width: 100%;
    height: 74px;
    background: #4A4A4A;

    align-items: center;

    /* Flex properties */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    /* box-sizing is used to not stretch the div 100%+20px padding */
    box-sizing: border-box;
    padding: 0 20px;

}


.navbar-container-left{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex: 1;
    order: 1;

}

.all-movies-button{
    margin-left: 15px;
}

.navbar-container-right{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex: 1;
    order: 2;
    text-overflow: ellipsis;
}

.navbar-right-item{
    margin-right: 25px;
}


/* Medium screens */
@media all and (max-width: 900px) {
    #navbar{
        flex-flow: column wrap;
        height: 125px;
        justify-content: flex-start;
    }
    .navbar-container-right{
        justify-content: flex-start;
        flex-flow: row nowrap;
        order: 2;
        width: 100%;
    }
    .navbar-container-left{
        flex-flow: row nowrap;
        order: 2;
        width: 100%;
    }
    .navbar-right-item{
        margin-top: 10px;
    }
    .navbar-left-item{
        margin-top: 10px;
    }
    .all-movies-button{
        margin-left: 10px;
    }

}