<div id="navbar">

    <div class="navbar-item navbar-container-left">
        <div class="navbar-left-item">
            <!-- "nav-search" is a selector of another component. -->
            <nav-search></nav-search>
        </div>
        <div class="navbar-left-item all-movies-button">
            <button routerLink="/search">All movies</button>
        </div>
    </div>


    <div class="navbar-item navbar-container-right">
        <!-- Shows links that refers to the routing that are done in app-routing.module.ts -->
        <div class="navbar-right-item">
            <button routerLink="/home">Home</button>
        </div>

        <div class="navbar-right-item">
            <button routerLink="/profile">Profile</button>
        </div>

        <div class="navbar-right-item">
            <facebook-component></facebook-component>
        </div>

    </div>



</div>

