<div class="review-container">

    <ul class="review-list-container">

        <li class="review-list-item">
            <!--Gets the values from "movie-review.component.ts", which might get the value from other components.-->
            <div class="review-item-left">{{reviewTitle}}</div>
            <div class="review-item-left">{{rating}}</div>
            <div class="review-item-left">{{userName}}</div>
            <button class="review-item-right expand-button" (click)="toggle()">Expand</button>
        </li>

        <li class="review-list-item">
            <div class="review-item-bottom" *ngIf="showElement">
                <p>
                    {{ratingText}}
                </p>
            </div>
        </li>
    </ul>

</div>
