.review-container{
    background: rgb(243, 242, 238);
    border: 1px solid rgb(187, 186, 182);
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0px 3px 0px 0px rgb(145, 144, 140);
}

.review-list-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.review-list-item{
    display: flex;
    flex-flow: row wrap;
}

.review-item-left{
    flex: 2;
    justify-content: flex-start;
}

.review-item-right {
    justify-content: flex-end;
    line-height: 70px;
}

.btn-review-expand{
    max-width: 150px;
    max-height: 35px;
    width: 100px;
}

.review-item-bottom{
    border: 1px solid rgb(144, 143, 139);
    background-color: rgb(234, 233, 230);
    flex: 1;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px rgb(145, 144, 140);
}

.review-stars{
    color: yellow;
    text-shadow: 1px 1px 1px black;
    margin-left: 8px;
}

/* Medium screens */
@media all and (max-width: 1000px) {
    .review-list-item {
        flex-flow: column wrap;
    }
    .review-item-left{
        margin-top: 10px;
    }
    .review-item-right{
        margin-top: 0px;
        justify-content: flex-start;
    }
    .review-stars{
        margin-left: 0;
    }
    .btn-review-expand{
        line-height: 10px;
    }
}