<div class="movie-detail-container">

    <!--Image of the movie-->
    <div class="movie-detail-item movie-detail-poster">
        <img src='{{movie?.img_url}}' alt="movie poster" />
    </div>
    <!-- Container to hold the details of the movie -->
    <div class="movie-detail-item movie-detail-information">
        <!-- Print out details about the movie from the movie object defined by the typescript file-->
        <hr>
        <h2> {{movie?.title}} </h2>
        <hr>
        <p> <b> Year: </b> {{movie?.year}} </p>
        <p> <b> Description: </b> {{movie?.description}}</p>
        <button class="btn"> Review movie</button>
    </div>
    <review-form></review-form>

</div>
