.review-container{
    background: rgb(217, 216, 212);
    padding: 35px;
    margin-top: 25px;
    border: 1px solid rgb(187, 186, 182);
}



.review-list-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.review-list-item{
    display: flex;
    flex-flow: row wrap;
}

.review-item-left{
    width: 175px;
    text-align: left;
}

.review-item-right {
    margin-left:auto;
}


.expand-button {
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;

    height: 40px;
    width: 140px;
}

.expand-button:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}


/* Medium screens */
@media all and (max-width: 1000px) {
    .review-list-item {
        flex-flow: column wrap;
    }
    .review-item-left{
        margin-top: 10px;
    }
    .review-item-right{
        margin-top: 20px;
        margin-left: 0px;
    }
}