.movie-page-container{
    padding: 0;
    margin: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.movie-page-item{
    margin-top: 15px;
}

.review-settings-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 25px;
}

.review-settings-item{
    flex: 1;
    text-align: center;
}
