<div class="movie-detail-container">

    <!--Image of the movie-->
    <div class="movie-detail-poster">
        <img src='https://movies.qantaspoints.com/images/website-assets/placeholder-movie.jpg' alt="movie poster placeholder" />
    </div>

    <!-- Container to hold the details of the movie -->
    <div class="movie-detail-information">
        <h2> {{movie?.title}} </h2>
        <p> ID: {{movie?.id}} </p>
        <p> Rating: {{movie?.rating}} </p>
        <p> Year: {{movie?.year}} </p>
        <p> Actors:     {{movie?.actors}} </p>
        <p> Directors: {{movie?.directors}} </p>
        <p> Country: {{movie?.country}}  </p>
        <p> Description: {{movie?.description}} </p>
        <button>Review movie</button>
    </div>

</div>
