<ul class="movie-page-container">




    <li class="movie-page-item">
        <movie-detail></movie-detail>
    </li>

    <li *ngIf="(reviews | json) != '[]'" class="movie-page-item">

        <div class="review-page-title">
            <h2> Ratings </h2>
        </div>

        <div *ngIf="reviewsRatings != []" class="review-chart">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
        </div>


    </li>

    <li class="movie-page-item review-page-title">
        <h2> Reviews </h2>
    </li>

    <li *ngIf="(reviews | json) == '[]'" class="movie-page-item">
        <p>
            This movie has no reviews. Be the first to review it!
        </p>
    </li>

    <li *ngIf="(reviews | json) != '[]'" class="movie-page-item">

        <div class="review-settings-container">

            <div class="review-settings-item">
                <p>Sort by</p>
                <button class="btn" (click)="toggleSortByRating()">Rating</button>
                <button class="btn" (click)="toggleSortByName()">Name</button>
            </div>

            <div class="review-settings-item">

                <p> Filter by rating:</p>
                <div class="review-slider-value"> {{ sliderValue }} </div>
                <div>
                    0
                    <input type="range" min="0" max="5" [value]="sliderValue"
                           (input)="sliderValue = $event.target.value" />
                    5

                </div>
            </div>

            <div class="review-settings-item">
                <p>Filter by name</p>
                <input #box [value]="nameSearched" (input)="nameSearched = $event.target.value">
            </div>

        </div>

        <div *ngFor="let review of reviews | ReviewRatingFilterPipe:sliderValue | ReviewUserFilterPipe:nameSearched | ReviewSorterPipe:format ">
            <movie-review [review]=review></movie-review>
        </div>

    </li>




</ul>
