{{diagnostics}}
<div class="container">
    <h1>Review form</h1>
    <h3>Title here</h3>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #reviewForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title"
                   required
                   [(ngModel)]="model.title" name="title">
        </div>
        <label for="rating">Rating</label>
        <select class="form-control" id="rating"
                required
                [(ngModel)]="model.rating" name="rating">
            <option *ngFor="let r of ratings" [value]="r">{{r}}</option>
        </select>
        <div class="form-group">
            <label for="review">Review</label>
            <input type="text" class="form-control" id="review"
                   required
                   [(ngModel)]="model.review" name="review">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="button" class="btn btn-default" (click)="newReview()">New Review</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
        <div class="col-xs-3">Title</div>
        <div class="col-xs-9  pull-left">{{ model.title }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Rating</div>
        <div class="col-xs-9 pull-left">{{ model.rating }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Review</div>
        <div class="col-xs-9 pull-left">{{ model.review }}</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
</div>