<div class="newest-reviews">
    <movie-title [titleValue]="newlyReviews"></movie-title>
    <ul class="movie-container">
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
    </ul>
</div>

<div class="newly-visited">
    <movie-title [titleValue]="newlyVisited"></movie-title>
    <ul class="movie-container">
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
        <movie></movie>
    </ul>
</div>