<div class="search-result-page-container">

    <h1 > Search results </h1>

    {{searchResults | json}}

    <!-- Show only if there's no result -->
    <div *ngIf="(searchResult | json) == '[]'">
        <p>
            No results were found. Please try again with a different search term.
        </p>
    </div>

    <!-- Show only if there's a result -->
    <div *ngIf="(searchResult | json) != '[]'" class="movie-search-movie-container">
        <!-- Loop through movie object in searchResult array and create them as components-->
        <div *ngFor="let movie of searchResult ">
            <movie-cmp [movieObject]=movie ></movie-cmp>
        </div>

    </div>



</div>






