
<!-- Container for the whole page -->
<div class="profile-page-container">

    <div class="profile-page-item">
        <profile-user-details></profile-user-details>
    </div>
    <ul class="movie-page-container">
        <li class="movie-page-item review-page-title">
            <h2> Your reviews </h2>
        </li>

        <!-- Only show if reviews is an empty array -->
        <li *ngIf="(reviews | json) == '[]'" class="movie-page-item">
            <p>
                You have not reviewed any movies yet!
            </p>
        </li>

        <!-- Only show if reviews is not an empty array -->
        <li *ngIf="(reviews | json) != '[]'" class="movie-page-item">

            <div class="review-settings-container">

                <div class="review-settings-item">
                    <p>Sort by</p>
                    <!-- Calls functions in the component -->
                    <button class="btn" (click)="toggleSortByRating()">Rating</button>
                </div>

                <div class="review-settings-item">
                    <!-- Filter input by rating entered in input tag below -->
                    <p> Filter by rating:</p>
                    <div class="review-slider-value"> {{ sliderValue }} </div>
                    <div class="review-slider-container">
                        0<input class="review-page-slider" type="range" min="0" max="5" [value]="sliderValue" (input)="sliderValue = $event.target.value" />5
                    </div>
                </div>

            </div>

            <!-- Loop through the reviews in the reviews array, apply sorting and filtering  pipes -->
            <div *ngFor="let review of reviews | ReviewRatingFilterPipe:sliderValue | ReviewUserFilterPipe:nameSearched | ReviewSorterPipe:format ">
                <profile-user-reviews [review]=review></profile-user-reviews>
            </div>

        </li>
    </ul>
</div>






