<!-- Container for the whole review component -->
<div class="profile-user-review-container">

    <!-- Container for the left side of the component -->
    <div class="profile-user-review-internal-left-container">
        <movie-cmp></movie-cmp>
    </div>

    <!-- Container for the right side of the component -->
    <div class="profile-user-review-internal-right-container">

        <!-- Items for the internal right container that dispaly information about the review-->

        <div class="profile-user-review-internal-right-container-item">
            {{userReviewTitle}}
        </div>

        <div class="profile-user-review-internal-right-container-item">
            {{userReviewRating}}
        </div>

        <div class="profile-user-review-internal-right-container-item">
            {{userReviewText}}
        </div>

    </div>

</div>