<div class="newest-reviews">
    <!--"movie-title" shows the template with the associated selector and sends
    in the value "newlyReviews" which has a value in the "front-page.component.ts"-file.-->
    <movie-title [titleValue]="newlyReviews"></movie-title>
    <ul class="movie-container">
        <!--"movie" shows the template with the associated selector
        (see the *.components.ts-files)-->

        <div *ngFor="let movie of data">
            <movie-cmp [movieTitle]=movie.title></movie-cmp>
        </div>

    </ul>
</div>

<div class="newly-visited">
    <movie-title [titleValue]="newlyVisited"></movie-title>
    <ul class="movie-container">
        <movie-cmp></movie-cmp>
        <movie-cmp></movie-cmp>
        <movie-cmp></movie-cmp>
        <movie-cmp></movie-cmp>
        <movie-cmp></movie-cmp>
        <movie-cmp></movie-cmp>
        <movie-cmp></movie-cmp>
    </ul>
</div>
